.center {
    background: #FF7A59;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    margin-left: 50%;
    border: #000;
    font-size:larger;
    border-style: dashed;
  }

